# Compilação
bin/
obj/

# Configurações sensíveis
appsettings.json
appsettings.*.json
secrets.json

# Visual Studio
.vs/
*.user
*.suo

# Bancos locais
*.db
*.sqlite
*.mdf
*.ldf

# IDEs alternativas
.idea/

# Logs e temporários
*.log
*.tmp
*.bak

# Publicações
publish/
wwwroot/dist/
